* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.wav binary
*.mp3 binary
*.flac binary
*.ogg binary
*.m4a binary
*.pt binary
*.pth binary
*.ckpt binary
*.bin binary
*.png binary
*.jpg binary
*.pdf binary
